@font-face {
  font-family: 'somaticrounded';
  src: url('files/font/somatic-rounded-webfont.woff2') format('woff2'),
       url('files/font/somatic-rounded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px; 
  font-family: somaticrounded;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;

}

.navBar {
    width: 100vw;
    height: 64px;
    background: linear-gradient(45deg, #23a6d5, #23d5ab, #e100ff, #ff0000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    padding: 0px;
    position: fixed;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .navBarLogo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }

  .navBarNav {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .navBarItem {
    width: 64px;
    height: 64px;
  }
  
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .body {
    color: whitesmoke;
    background-color: #23232e;
    margin: 0;
    padding: 0;
  }

  .main {
    padding: 1rem;
  }